.explore-menu{
    max-width: 80%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.explore-menu h2{
    font-size: 3rem;
    font-weight: 500;
    color: var(--theme-color);
}

.explore-menu-text {
    font-size: 1.8rem;
    color: gray;
    max-width: 60%;
}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 3rem;
    margin: 2rem 0;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item img{
    width: 7.5vh;
    min-width: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition:all 0.3s;
}

.explore-menu-list-item .active{
    border: 4px solid var(--theme-color);
    padding: 2px;
}

.explore-menu-list-item p{
    margin-top: 1rem;
    font-size: max(1.4vw,1.6rem);
    color: #747474;
    margin-bottom: 0;
    cursor: pointer;
}

.explore-menu hr{
    margin: 1rem 0;
    height: .2rem;
    background-color: #e2e2e2;
    border: none;
}

