.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar .logo {
    width: 200px;
  }
  
  .navbar .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1.8rem; 
    color: var(--text-color);
  }
  
  .navbar .navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
  }
  
  .navbar button {
    background-color: var(--text-color);
    color: white;
    font-size: 1.6rem;
    padding: 10px 20px;
    border: 1px solid var(--theme-color);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar button:hover {
    background-color: white;
    color: var(--text-color);
    border: 1px solid var(--text-color);
  }
  