.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0,0,0,.2);
    transition: 0.3s;
    animation: scaleIn 0.6s ease-out;
} 

.food-item-image-container{
    position: relative;
}

.food-item-image-container .add{
    position: absolute;
    width: 35px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 1.6rem;
}

.food-item-image{
    width: 100%;
    height: auto;
}

.food-info{
    padding: 20px;
}

.food-item-name{
    font-size: 2rem;
    font-weight: 500;
    color: #333;
}

.food-item-description{
    margin-top: 10px;
    font-size: 1.2rem;
    color: #707070;
}

.price-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-item-price{
    color: var(--theme-color);
    font-size: 2rem;
    margin: 10px 0;
}

.price-rating img{
    width: 6rem;
    height: auto;
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
